<div class="kanban-board">
  <div
    class="kanban-columns"
    cdkDropList
    cdkDropListSortingDisabled
    [cdkDropListData]="columns()"
    (cdkDropListDropped)="onColumnDropped($event)"
  >
    @for (item of tasksByColumn(); track item.column.id) {
      <div
        cdkDrag
        [cdkDragData]="item.column"
        class="kanban-column-wrapper"
      >
        <app-kanban-column
          [column]="item.column"
          [tasks]="item.tasks"
          [allConflicts]="conflicts()"
          (taskDropped)="onTaskDropped($event)"
          (taskClick)="editTask.emit($event)"
          (deleteTask)="deleteTask.emit($event)"
          (editColumn)="editColumn.emit($event)"
          (deleteColumn)="deleteColumn.emit($event)"
        />
      </div>
    }
  </div>

  <div class="kanban-add-column">
    <app-button variant="ghost" size="lg" (click)="onAddColumn()">
      + Add Column
    </app-button>
  </div>
</div>
